
.container {
    text-align: center;
    border: 2px solid #8e93ec88;
    background-color: #8e93ec88;
    border-radius: 20px;
    padding: 50px;
    padding-top: 1px;
    margin: 50px auto;
    max-width: 300px;
    box-shadow: 0 0 30px rgb(12, 24, 31);
}

.title h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #071513ef;
}

h3 {
    margin-bottom: 20px;
    color: #ffffffb0;
}

form div {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #d3d0d0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

button:hover {
    background-color: #554ad8;
}

button[type="submit"] {
    background-color: #5bb255;
}

button[type="submit"]:hover {
    background-color: #285c36;
}

p {
    margin: 20px 0;
    color: #ffffff;
}
